[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
sqlalchemy = "~=2.0.44"
dotenv = "*"
psycopg2 = "*"
matplotlib = "*"
seaborn = "*"
scipy = "*"
squarify = "*"
ipykernel = "*"
pandas = "~=2.3.3"
duckdb = "*"
pillow = ">=12.1.1"
pandas-stubs = "~=2.3.3"
jinja2 = "3.1.6"
tornado = ">=6.5.5"
Pygments = ">=2.20.0"

[dev-packages]

[requires]
python_version = "3.13"
